.elementor-19 .elementor-element.elementor-element-76d1d85 .roll__area,
					.elementor-19 .elementor-element.elementor-element-76d1d85 .roll__area-2,
					.elementor-19 .elementor-element.elementor-element-76d1d85 .roll__area-3{background-color:#282F49;}.elementor-19 .elementor-element.elementor-element-76d1d85 h2{color:#FFFFFF;}/* Start custom CSS for axtra_our_banner, class: .elementor-element-3d98635 */@media only screen and (max-width: 767px){
    .hero__title br{
        display: block!important;
    }
    .experience br{
        display: block!important;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5250fb2 *//*.ss .service__list-wrapper{*/
/*    display: none;*/
/*}*/

/*.ss .service__area.pt-110.pb-150{*/
/*    padding-bottom: 0!important; */
/*}*//* End custom CSS */